image:
  - Visual Studio 2022
  - macOS-Sequoia

stack: python 3.11

environment:
  GITHUB_TOKEN:
    secure: NYfvv8PUgDoYw+spLW28mvbOzErgBYMH/VvS4igYdN5J6PUM5di66PmTzHtLFgz9

test: off

for:
-
  matrix:
    only:
      - image: Visual Studio 2022
  install:
    - SET PATH=C:\Python311-x64;C:\Python311-x64\Scripts;%PATH%
    - python -m pip install --upgrade pip setuptools wheel
    - pip install --only-binary=:all: numpy pandas scanpy anndata
    - pip install flet==0.27.1 gdown leidenalg igraph umap-learn
    - pip install -r requirements.txt
  build_script:
    - python -m flet pack main.py --name scMalaria --product-name "scMalaria" --product-version "0.3.0"
  after_build:
    - 7z a scMalaria-windows.zip %CD%\dist\*.exe
  artifacts:
    - path: scMalaria-windows.zip
      name: WindowsApp

-
  matrix:
    only:
      - image: macOS-Sequoia
  install:
    - brew install --cask miniforge
    - source /usr/local/Caskroom/miniforge/base/etc/profile.d/conda.sh
    - conda create -n scmalaria_env python=3.11 -y
    - source /usr/local/Caskroom/miniforge/base/etc/profile.d/conda.sh && conda activate scmalaria_env && conda install -y -c conda-forge numpy pandas scanpy anndata llvmlite
    - source /usr/local/Caskroom/miniforge/base/etc/profile.d/conda.sh && conda activate scmalaria_env && pip install flet==0.27.1 gdown leidenalg igraph umap-learn
    - source /usr/local/Caskroom/miniforge/base/etc/profile.d/conda.sh && conda activate scmalaria_env && pip install -r requirements.txt
  build_script:
    - source /usr/local/Caskroom/miniforge/base/etc/profile.d/conda.sh && conda activate scmalaria_env &&  flet pack main.py --name scMalaria --product-name "scMalaria" --product-version "0.3.0"
  after_build:
    - tar -czvf scMalaria-macos.tar.gz -C dist scMalaria.app
  artifacts:
    - path: scMalaria-macos.tar.gz
      name: macOSApp

deploy:
  provider: GitHub
  auth_token: $(GITHUB_TOKEN)
  artifact: /.*\.zip|.*\.tar\.gz/
  on:
    appveyor_repo_tag: true